export AZCF_RG=ztech
export AZCF_NAME=ztfunction
export AZCF_LOCATION=uksouth
export AZCF_PROJECT=zttemplate
export AZCF_ORGANISATION=dhAzDo
export AZCF_ENV_DEBUG=1
export AZCF_ENV_SEC_SECRET=${AZCF_ENV_SEC_SECRET:-$(cat secret.txt)}
export AZCF_ENV_SEC_SUBID=${AZCF_ENV_SEC_SUBID:-$(cat ~/.config/azure_sub_id.key)}
export AZCF_ENV_SOMEVALUE="ZipTech"

export AZURE_DEVOPS_EXT_PAT=${AZURE_DEVOPS_EXT_PAT:-$(cat ~/.config/azdevops-pat.key)}
